[submodule "lib/tarantool-c"]
	path = lib/tarantool-c
	url = https://github.com/tarantool/tarantool-c.git
[submodule "lib/libslave"]
	path = lib/libslave
	url = https://github.com/tarantool/libslave.git
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/tarantool/yaml-cpp.git
